@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 12vh;
    
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, .3);
}
.header_back{
    height: 12vh;
}
.header_in{
    width: 1200px;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    /* border: 1px solid #000; */
    height: fit-content;
    display: flex;
    gap: 20px;
}
.search{
    /* border: 1px solid #000; */
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.container_1{
    width: 100%;
    height: 80vh;
    
    background-image: url("./img/Rectangle\ 23.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.container_1_in{
    width: 1200px;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    width: 550px;
    color: white;
}
.items{
    width: 530px;
    height: 500px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: center;
}
.item{
    width: 250px;
    height: 220px;
    background-color: #5DB7DE;
    border-radius: 20px;
    

}
.p1{
margin: 30px 30px 0;
color: white;
margin-top: 100px;
font-size: 15px;
}
h4{
    margin: 30px 30px ;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.dadcon{
    height: 110vh;

    display: flex;
    justify-content: center;
}
.container_2{
    width: 1200px;
    height: 92%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.confortxt{
    width: 560px;
    height: 735px;
    
    
}
.p3{
 margin-top: 80px;
 margin-right: 140px;
 
}
.conforcon{
    width: 630px;
    height: fit-content;
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: center;
    
}
.con6{
    width: 300px;
    height: 200px;
    
    margin-left: 1px;
    border-radius: 10px;
    background-color: rgb(2, 2, 172);
    color: white;
}
.h_0{
    color: white;
}
.middle{
    height: 110vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 241, 241);
}
.middle_in{
    width: 1200px;
    height: 70%;
    
    display: flex;
    justify-content: space-between;
}
.slova{
    width: 520px;
    height: 560px;
   
}
.video{
    width: 500px;
    height: 250px;
    
    margin-left: 165px;
    padding-right: 5px;
    border-radius: 10px;
    background-image: url("./img/Rectangle\ 23.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.aquacon{
    width: 500px;
    height: 200px;
    
    margin-left: 165px;
    margin-top: 40px;
    padding-right: 5px;
    background-color: rgb(5, 194, 247);
    border-radius: 10px;

}
.videocon{
    display: flex;
    align-items: space-between;

}
.h9{
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
.p9{
    color: white;
    font-size: 17px; 
    padding-top: 70px;
    padding-left: 20px;
}
.con4{
    height: 110vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.con4_in{
    width: 1200px;
    height: 80%;
    
    
    
    

}
.text2{
width: 100%;
height: 50px;
margin-top: 100px;
display: flex;
justify-content: space-between;
align-items: center;

}
.video3{
    width: 280px;
    height: 370px;
    
    margin-top: 60px;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}
.video4{
    display: flex;
    justify-content: space-between;
}
.fotovid1{
    width: 280px;
    height: 200px;
    
    border-radius: 15px;
    background-image: url("./img/qingbao-meng-01_igFr7hd4-unsplash.jpg");
    background-position: center;
    background-size: cover;
}
.fotovid2{
    width: 280px;
    height: 200px;
    
    border-radius: 15px;
    background-image: url("./img/robert-lukeman-_RBcxo9AU-U-unsplash.jpg");
    background-position: center;
    background-size: cover;
}
.fotovid3{
    width: 280px;
    height: 200px;
    
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-image: url("./img/vincent-van-zalinge-vUNQaTtZeOo-unsplash.jpg");
}
.fotovid4{
    width: 280px;
    height: 200px;
    
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-image: url("./img/luca-bravo-VowIFDxogG4-unsplash.jpg");
}
.contatxt{
    width: 100%;
    height: 160px;
    
}

.urltop{
    height: 13vh;
    border: 1px solid #000;
    background-color: #695ecf;
    display: flex;
    justify-content: center;
    align-items: center;
}
.urltop_in{
    width: 70%;
    height: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.conforfoo{
    height: 40vh;
    border: 1px solid #000;
    background-color: #3D348B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.d1{
    filter: invert(100%);
    padding-right: 5px;
    
}
.divtop{
    width: 306px;
    height: fit-content;
    
    color: white;

}
.divtop2{
    padding-bottom: 77px;
    width: 306px;
    height: fit-content;
    
    color: white;

}
.divtop4{
    margin-top: 25px;
    width: 306px;
    height: fit-content;

    color: white;

}
.bigwrap{
    width: 100%;
    height: 220vh;
    
    display: flex;
    justify-content: center;
}
.miniwrap{
    width: 60%;
    height: 1370px;
    
    margin-top: 150px;
}
.reg{
    width: 100%;
    height: 150vh;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
 
}
.reg_in{
    width: 60%;
    height: 700px;
    border: 1px solid #000;
    margin-top: 150px;
    display: flex;
  
}
.regtxt{
 width: 100%;
 height: 130px;
 border: 1px solid #000;
 display: flex;
 padding: 0px 150px;
 align-items: center;
}






















a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    
}
input{
 border: none;
 outline: none;
 border-bottom: 2px solid blue;
}
select{
    border: none;
    outline: none;
}
h1{
    font-size: 42px;
}
p{
    font-size: 18px;
}
h3{
    font-size: 24px;
}
.p2{
 
 margin-right: 140px;
 padding-left: 30px;
}
.p10{
    font-size: 14px;
    padding-right: 10px;
}
li{
    font-size: 14px;
    padding-left: 7px;
    padding-top: 10px;
}
.a1{
    text-decoration: none;
    transform: 400ms;
      
}
.a1:hover{
    color: rgb(98, 97, 97);
}
.date{
    font-size: 14px;
    padding-top: 10px;
}
.ss{
    font-size: 18px;
    padding-top: 10px;
}
.gg{
    font-size: 14px;
    padding-top: 10px; 
}
.wrap1{
    padding-right: 50px;
}
.wrap2{
    padding-top: 12px;
}
.wrap3{
    padding-top: 5px;
}
